
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


#profile-tab, #home-tab {
  color: white;
  transition: 0.4s;
  border-bottom: 1px solid #ffffff60 !important;
}

#profile-tab:hover,  #home-tab:hover {
  color: red;
  border: 1px solid #ffffff60 !important;
}

.nav-link.active {
  background-color: #ffffff10 !important;
  border-color: #ffffff60 !important; 
}

.myTextWhite {
  color:white !important;
}

input.select-dropdown, input.select-dropdown{
  color: white !important;
}

.datepicker-date-display {
 background-color: #ad0000
}

.dragBox > label.btn{
  background-color:#f1c40f;
  color:black;
}

#submitbtn {
  background-color:#f1c40f;
  color:black;
}

.btn-flat {
  color: red;
}

td[aria-selected ="true"] > button {
  background-color: red;
  color: black;
}

.is-today > button {
  color: yellow;
}

.dropdown-content {
  background-color: black;
}

.dropdown-content  li > span, .dropdown-content  li > a{
  color: white;
}

.uploadOuter {
  text-align: center;
  padding: 20px;

}
strong {
    padding: 0 10px
  }

.dragBox {
  width: 45vw;
  height: 50vh;
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-weight: bold;
  line-height: 95px;
  background-color: #ffffff00;
  color: #999;
  border: 2px dashed #f1c40f;
  border-radius: 30px;
  display: inline-block;
  transition: all 0.3s;

}

input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
  }


.draging {
  transform: scale(1.1);
  background-color: #ffffff30;
  border-radius: 45px;
  border: 1px solid #ff0000;
}
#preview {
  text-align: center;
  color:white;

}

img {
    max-width: 100%
  }